# Configuración de Rutas
UPLOAD_DIR=/app/uploads
EXTRACT_DIR=/app/auditoria_temp
FAISS_PATH=/app/faiss_index

# Configuración de IA
OLLAMA_URL=http://host.docker.internal:11434

# Configuración de Infraestructura
REDIS_URL=redis://redis:6379/0

# Seguridad y Autenticación 
SECRET_KEY=clave_secreta_de_prueba_para_el_usuario_12345
MODELO_ORQUESTADOR=llama3.1:8b