# --- IA, LLM y RAG ---
langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.23
langchain-ollama==0.1.1
langchain-text-splitters==0.2.2
langgraph
faiss-cpu
pypdf
pymupdf==1.23.26


# --- Backend y API (FastAPI) ---
fastapi
uvicorn
pydantic
python-multipart==0.0.9
websockets==12.0
aiofiles
python-dotenv
requests

# --- Base de Datos y ORM ---
sqlalchemy==2.0.23


# --- Tareas en Segundo Plano ---
celery==5.3.6
redis==5.0.1


# --- Seguridad y Autenticación ---
PyJWT==2.8.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
email-validator>=2.0.0

# --- Análisis Estático de Código ---
semgrep


# --- Calidad de Código y Pruebas (QA/CI) ---
pytest==8.0.0
httpx>=0.27.0
black==24.2.0
ruff==0.2.0









